<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Moodoro - Feel the Focus, Flow with Moodoro</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
